# On any Spring profile
DB_URL="jdbc:postgresql://localhost:5432/postgres"
DB_USER="postgres"
DB_PASSWORD="admin"

# Only working on PROD & STAGGING
JWT_SECRET="8520852085208520852085208520852085208520852085208520"
ADMIN_EMAIL="example@example.com"
GOOGLE_CALENDAR_ID="example"
COLTIP_MAILER_HOST="smtp.example.com"
COLTIP_MAILER_USERNAME="admin"
COLTIP_MAILER_PASSWORD="admin"